.video {
    display: flex;
}

.video iframe {
    display: inline-block;
    height: 450px;
    width: 100%;
    margin: 0 auto 24px;
}

.terminal code {
    color:aliceblue;
    background: #272822;
}

model-viewer {
    width: 100%;
    min-height: 450px;
    border: 1px red dashed;
    /* margin: 0 auto 24px; */
}