<div class="footer">
    <div>
        Contact: 
        💾 instagram-><a href="https://www.instagram.com/lu.does.stuff/">@lu.does.stuff</a>, 
        🔧 github-><a href="https://github.com/l-lu-u">l-lu-u</a>, 
        🎬 <a href="https://www.youtube.com/@lu_does_stuff">youtube</a>,
        📸 <a href="https://www.flickr.com/people/chenlu-ciel/">flickr</a>, 
        🤝 <a href="www.linkedin.com/in/lu-chen-43177191">linkedin</a>, 
        📮 email-><a href="mailto:chenlu.ciel@gmail.com">chenlu.ciel@gmail.com</a>
    </div>
    Copyright © 2024, Powered by <a href="https://gohugo.io/">Hugo</a> with
    <a href="https://github.com/mrmierzejewski/hugo-theme-console/">Console Theme</a>. 
</div>
