{{ define "main" }}

<h1>About</h1>


<p>
    <b>lù / 璐</b> does stuff in 2024 about digital fabrication. 🙌<a href="about/">(more about me)</a>
</p>
<p>
    <b>>>> 🩸 Final Project:>>> </b><a href="{{ .Site.BaseURL }}weekly-assignments/final-project/">idea(s) & process</a>
</p>

<p>
    +-----------------+
    |  . . . . . .    |
    | .           .   |
    |+ L U . U +      |
    | .           .   |
    |  . . . . . .    |
    |                 |
    |    *    *    *  |
    |   * *  * *  * * |
    |    *    *    *  |
    +-----------------+
</p>

<p>
    <a href="{{ .Site.BaseURL }}about/">
        <img src="{{ .Site.BaseURL }}about/images/dither_it_self-hands.jpg" alt="Hands of Lu"/>
    </a>
</p>

<h1>Latest assignments</h1>

<div class="posts-list">
{{ with .Site.GetPage "/weekly-assignments" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Some of the randomness</h1>

<div class="image-grid">
{{ with .Site.GetPage "/random-thoughts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}